## Ignore all models, data, and results, except for the example_test_set
data/*
!data/example_test_set
results/*
!results/example_test_set
models/*

## Ignore depreciated folder which contains old code/data
depreciated/

## Ignore pycache folder
src/__pycache__/*

## Keep Species_Database.csv
!data/Species_Database.csv

## Keep README.md files
!*README.md

